{
  "development": {
    "SSO_URL": "http://google.com",
    "USER_SERVICE_URL": "http://google.com"
  },
  "staging": {
    "SSO_URL": "http://google.com",
    "USER_SERVICE_URL": "http://google.com"
  },
  "production": {
    "SSO_URL": "http://google.com",
    "USER_SERVICE_URL": "http://google.com"
  }
}